<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Home</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>
   <script > 

    function doInspireMe() {
        var x;
        if (confirm("Today's inspiring message") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        //document.getElementById("demo").innerHTML = x;
    }

    $(function() {

      //Randomly choose patial
      var randomPartial = $('#getPartial').attr('name');
      if(randomPartial == 1) {
        $('#originalPartial').css('display','block');
      }
      else {
        $('#newPartial').css('display', 'block');
      }

      if($('.Users').length == 0) {
        $('.no-goals').css('display', 'block');
      }

      //Declines goal
      $('.decline-btn').click(function(evt) {
        evt.preventDefault();

        var goalInfoID = evt.currentTarget.name;

        var idJSON = {
          "idToDelete" : goalInfoID
        };

        idJSON = JSON.stringify(idJSON);

        //Ajax GET call to the server.
        $.ajax({
          url: "/deleteGoal",
          method: "POST",
          data: idJSON,
          contentType: "application/json",
          processdata: true
        }).done(function(info) {
          if(info.error) {
            alert(info.error); //Alert any errors that were checked in server side
          }
          else {
            alert('Goal deleted.');
            window.location.href='/';
          }
        });
      });

      //Accepts goal
      $('.accept-btn').click(function(evt) {
        evt.preventDefault();

        var goalInfoID = evt.currentTarget.name;
        console.log(goalInfoID);

        var idJSON = {
          "idToSave" : goalInfoID
        };

        idJSON = JSON.stringify(idJSON);

        //Ajax GET call to the server.
        $.ajax({
          url: "/removeGoalWaiting", //"saveGoal"
          method: "POST",
          data: idJSON,
          contentType: "application/json",
          processdata: true
        }).done(function(info) {
          if(info.error) {
            alert(info.error); //Alert any errors that were checked in server side
          }
          else {
            if(info.redirect == '/') {
              window.location.href='/'; //"GoalDetails"
            }
            else {
              alert('You accepted the goal!  Now set a goal for your patrol.');
              window.location.href='/setgoal';
            }
          }
        });
      });

      //Track Progress
      $('.track-progress').click(function(evt) {
        evt.preventDefault();

        var goalInfoID = evt.currentTarget.name;
        window.location.href = '/trackprogress/' + goalInfoID + '/track';
      });

      //Inspire Me
      $('.inspire-me').click(function(evt) {
        evt.preventDefault();

        var goalInfoID = evt.currentTarget.name;
        var idJSON = {
          "idToSave" : goalInfoID
        };

        idJSON = JSON.stringify(idJSON);

        //Ajax GET call to the server.
        $.ajax({
          url: "/inspireme",
          method: "POST",
          data: idJSON,
          contentType: "application/json",
          processdata: true
        }).done(function(info) {
          if(info.error) {
            alert(info.error); //Alert any errors that were checked in server side
          }
          else {
            alert(info);
          }
        });
      });

    });

  </script>
    

  </head>

  <body>

    <!-- Header: Title & Name -->
  	<div class="header-container container">
      <div name="{{partial}}" id="getPartial" style="display: none"></div>
      <div class="top">
        <span id="originalPartial" style="display: none;">
          {{> headerOriginal}}
        </span>
        <span id="newPartial" style="display: none;">
          {{> header}}
        </span>
      </div>

      <div id="mobile-name" style="clear: left; float: left; margin-top: 15px; margin-left: 8px; display: none">
      Hi, {{#users}}{{name}}{{/users}}
      </div>
      <!-- Send Goal Button -->
      <div id="sendgoal-icon">
        <h2 class="btn btn-warning" type="button" onclick="window.location.href='sendgoal'">Send Goal</h2>
      </div>
  	</div>


    <!-- Goal Requests -->
    {{#patrols}}
    {{#compare goalwaiting "true" operator="=="}}
    <br>
    <div class="goalrequest-container container">
      <h3>New Goal Request!</h3>
      <p>From: {{pname}}<br>
         Goal: {{goal}} for {{hoursweek}} hours {{timesweek}} times a week.<br>
      </p>
      <div style="text-align:center">
        <button name="{{_id}}" class="btn btn-success btn-block accept-btn"> Accept</button>
        <button name="{{_id}}" class="btn btn-danger btn-block decline-btn" style="margin-bottom: 5px">Decline</button>
      </div>
    </div>
    {{/compare}}
    {{/patrols}}
    


    <!-- Goals -->
    <div class="central-container container">
      <section>
        
        <!-- GOAL HOME PAGE TAB1-->
        <div id="goal-tab">
            <h3>Your Goals</h3>

            <!-- Container for all goals -->
            <div class="goal-container container">        
            {{#patrols}}
            {{#compare goalwaiting "false" operator="=="}}
              <div class="Users">

              <img class="avatar-image" src={{pprofilepic}}>

                <p class="patrol-info"><strong>Patrol:</strong> 
                  <a href="/{{user}}/{{myid}}">{{pname}}</a>
                </p>
                <p class="bubble" style="padding: 0 5px 0 5px">{{goal}} for {{hoursweek}} hours {{timesweek}} times a week</p>
                <button class="btn btn-lg btn-success alert inspire-me" name="{{_id}}">Inspire Me</button>
                <button class="btn btn-lg btn-info alert track-progress" name="{{_id}}">Track Progress</button>
              </div>
              <br>
            {{/compare}}
            {{/patrols}}

            <!-- User has no goals -->
            <div class="no-goals" style="display: none;">
              <br>
              <p>You have no goals! <br> How about you send someone a goal? </p>
              <p>
                In the meantime, you can give yourself a goal - Click Send Goal
                and enter your own email address.
              </p>
            </div>

            </div>
        </div>

      </section>  
    </div>

  </body>

</html>
