<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Home</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>
   <script > 

      function doInspireMe() {
          var x;
          if (confirm("Today's inspiring message") == true) {
              x = "You pressed OK!";
          } else {
              x = "You pressed Cancel!";
          }
          //document.getElementById("demo").innerHTML = x;
      }

  </script>
    

  </head>

  <body>

    <!-- Header: Title & Name -->
  	<div class="header-container container">
      {{> header}}
  	</div>

    <br> <!--Extra spacing-->

    <!-- Goal Requests -->
    
    <div class="goalrequest-container container ">
      <h3>New Goal Request!</h3>
      <p>From: Jenny<br>
         Goal: Go to the gym 1 hours 5 times a week.<br>
         Complete Date: 02/15/2015
      </p>
      <button class="btn btn-block" onclick="window.location.href='goaldetails'"> Accept</button>
      <button class="btn btn-block AccRej">Decline</button>
    </div>
    


    <!-- Goals -->
    <div class="central-container container">
      <section ng-app="myApp" ng-controller="TabController as tab">
        
        <!-- GOAL HOME PAGE TAB1-->
        <div ng-show="tab.isSet(1)">
            <h3>Your Goals</h3>

            <!-- Container for all goals -->
            <div class="goal-container container">
            
          {{#users}}
          {{#compare name "Kenny" operator="=="}}
          {{#patrol}}
              <div class="Users">

              <img class="avatar-image" src={{pprofilepic}}>

                <p class="patrol-info"><b>Patrol:</b>
                  <a href ng-click="tab.setTab({{tabID}})">{{pname}}</a>
                </p>
                <p class="bubble">{{goal}} for {{hoursweek}} hours {{timesweek}} times a week</p>
                <button class="btn btn-lg btn-success alert" onclick="doInspireMe()" id="inspire1">Inspire Me</button>
                <button class="btn btn-lg btn-info alert" id="progress1" onclick="window.location.href='trackprogress'">Track Progress</button>
              
              </div>
          {{/patrol}}
          {{/compare}}
          {{/users}}
          </div>
        </div>

        <!-- JENNY'S STUFF -->
        <div ng-show="tab.isSet(2)">
            <h3>Soohyun's Goal</h3><br>

            <div class="goal-container container">
          	 <!--Show Soohyun's information-->
          {{#users}}
          {{#compare name "Soohyun" operator="=="}}
          {{#patrol}}
              <div class="Users">

              <img class="avatar-image" src={{pprofilepic}}>

                <p class="patrol-info"><b>Patrol:</b>
                  {{pname}}
                </p>
                <p class="bubble">{{goal}} for {{hoursweek}} hours {{timesweek}} times a week</p>
              </div>
          {{/patrol}}
          {{/compare}}
          {{/users}}
            <button class="btn btn-block" href ng-click="tab.setTab(1)"> 
              Back
            </button>
            </div>
        </div>

        <!-- Mary's stuff -->
        <div ng-show="tab.isSet(3)">
            <h3>Alexandra's Goal</h3><br>

            <div class="goal-container container">
              <!--Show Alexandra's information-->
              {{#users}}
              {{#compare name "Alexandra" operator="=="}}
              {{#patrol}}
              <div class="Users">

              <img class="avatar-image" src={{pprofilepic}}>

                <p class="patrol-info"><b>Patrol:</b>
                  {{pname}}
                </p>
                <p class="bubble">{{goal}} for {{hoursweek}} hours {{timesweek}} times a week</p>
              </div>
              {{/patrol}}
              {{/compare}}
              {{/users}}
            <button class="btn btn-block" href ng-click="tab.setTab(1)"> 
              Back
            </button>
            </div>
        </div> 

      </section>  
    </div>

  </body>

</html>
