<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Patrol</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/GoalPatrol.css" rel="stylesheet">
    <script src="../js/angular.1.2.26.min.js"></script>
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/GoalPatrolScript.js"></script>
    <script > 
    $(function() {

      //Randomly choose patial
      var randomPartial = $('#getPartial').attr('name');
      if(randomPartial == 1) {
        $('#originalPartial').css('display','block');
      }
      else {
        $('#newPartial').css('display', 'block');
      }
        
      if($('#tab-goal-for-you').length == 0) {
        $('.no-goals').css('display', 'block');
        $('.a-goal').css('display', 'none');
      }
      
      $('.track-progress').click(function(evt) {
        evt.preventDefault();

        var goalInfoID = evt.currentTarget.name;
        window.location.href = '/trackprogress/' + goalInfoID + '/track';
      });
    })
    </script>
    

  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <div name="{{partial}}" id="getPartial" style="display: none"></div>
      <div class="top">
        <span id="originalPartial" style="display: none;">
          {{> headerOriginal}}
        </span>
        <span id="newPartial" style="display: none;">
          {{> header}}
        </span>
      </div>
      <div id="mobile-name" style="clear: left; float: left; margin-top: 15px; margin-left: 8px; display: none">
      Hi, {{#users}}{{name}}{{/users}}
      </div>
      <!-- Send Goal Button -->
      <div id="sendgoal-icon">
        <h2 class="btn btn-warning" type="button" onclick="window.location.href='../sendgoal'">Send Goal</h2>
      </div>
    </div>


    <!-- Goals -->
    <div class="central-container container">
      <section>
        <br>
        <!-- TAB Information -->
        <div>
            {{#goalUserInfo}}
            <h3>Your Goal for {{name}}</h3><br>
            {{/goalUserInfo}}

            <div class="goal-container container a-goal">
              <div class="Users">
              {{#goalUserInfo}}
              <img class="avatar-image" src={{pprofilepic}}>
              {{/goalUserInfo}}
              {{#patrols}}      
              <p class="bubble" id="tab-goal-for-you">{{goal}} for {{hoursweek}} hours {{timesweek}} times a week</p>
              {{/patrols}}
              </div>
              {{#patrols}}
              <button class="btn btn-lg btn-info alert track-progress" name="{{_id}}">Their Progress</button>
              {{/patrols}}
            </div>

            <!-- User has no goals -->
            <div class="no-goals" style="display: none;">
              <p>What goal? <br> How about you send {{#goalUserInfo}}{{name}}{{/goalUserInfo}} a goal? </p>
            </div>

        </div>

      </section>  
    </div>

  </body>

</html>
