<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Track Progress</title>
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../../css/star-rating.min.css" rel="stylesheet">
    <!--<link href="css/GoalPatrol.css" rel="stylesheet">-->
    <script src="../../js/angular.1.2.26.min.js"></script>
    <script src="../../js/jquery-1.11.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/star-rating.min.js"></script>
    <script src="../../js/GoalPatrolScript.js"></script>

    <style type="text/css">
      /* Weird bug - with a font, stars show up as boxes */
      * {
        -font-family: Calibri;
        font-size: 2.0rem;
        color: black;
        margin: 0;
        padding: 0;
      }

      html, body {
        height: 100%;
        width: 100%;
        text-align: left;
        background: #DDD;
      }

      /* HOME HEADER */
      .header-container {
        width: 100%;
        -height: 10%;
        -border: 2px solid black;
      }
      #title {
        font-size: 3rem;
        font-weight: bold;
        float: left;
        border-bottom: 1px inset blue;
        margin-left: 8px;
      }

      #dropdown-icon {
        float: right;
      }

      #dropdown-icon > h2 {
        font-size: 25px;
        font-weight: bold;
      }

      #dropdown-icon ul li a {
        font-size: 15px;
      }

      #sendgoal-icon {
        float: right;
        clear: right;
      }

      /****** Rating ******/
      .text-tab {
        -display: block;
      }
      .star-rating {
        display: inline;
      }

      /****** Bootstrap Code Override Table Color *******/
      .table-striped > tbody > tr:nth-of-type(odd) > th {
        background-color: #888;
      } 

      .table-striped > tbody > tr:nth-of-type(odd) > td {
        background-color: #CCC;
      }

      .table-striped > tbody > tr:nth-of-type(even) > td {
        background-color: #EEE;
      }

      /***** Table formatting for mobile ******/
      /** Credits to Geoff Yuen at http://codepen.io/geoffyuen/pen/FCBEg **/
      .rwd-table {
        margin: 1em 0;
        min-width: 300px;
      }
      .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      .rwd-table th {
        display: none;
      }
      .rwd-table td {
        display: block;
      }
      .rwd-table td:first-child {
        padding-top: .5em;
      }
      .rwd-table td:last-child {
        padding-bottom: .5em;
      }
      .rwd-table td:before {
        content: attr(data-th) " ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
      }
      @media (min-width: 720px) {
        .rwd-table td:before {
          display: none;
        }
      }
      .rwd-table th, .rwd-table td {
        text-align: left;
      }
      @media (min-width: 720px) {
        .rwd-table th, .rwd-table td {
          display: table-cell;
          padding: .25em .5em;
        }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0;
        }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0;
        }
      }

    </style>

    <script>
      $(function() {
        $('#input-progress').click(function(evt) {
          evt.preventDefault();
          var pathArray = window.location.pathname.split('/');
          var goalInfoID = pathArray[2]; //this is the goal ID from the address bar

          var idJSON = {
            "idToSave" : goalInfoID
          };

          idJSON = JSON.stringify(idJSON);

          //Ajax GET call to the server.
          $.ajax({
            url: "/saveGoalID",
            method: "POST",
            data: idJSON,
            contentType: "application/json",
            processdata: true
          }).done(function(info) {
            if(info.error) {
              alert(info.error); //Alert any errors that were checked in server side
            }
            else {
              window.location.href = '/inputprogress';     
            }
          });
        });

        if($('.text-tab').length == 0) {
          $('.no-progress').css('display', 'block');
          $('.table').css('display', 'none');
        }

      });
    </script>
  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
    {{> header}}
    </div>

    <br><!--Extra spacing-->

    <!-- Goal Giving -->
    <div class= "container">

      <h1>Track Progress</h1>

      <p>Progress for {{#patrols}}{{name}}{{/patrols}}</p>

      <div class="container">            
        <table class="table table-striped rwd-table">
          <tr>
            <th data-th="Date">Date</th>
            <th data-th="Difficulty">Difficulty</th>
            <th data-th="Experience">Experience</th>
            <th data-th="Satisfaction">Satisfaction</th>
            <th data-th="Stress">Stress</th>
            <th data-th="Comments">Comments</th>
          </tr>

          {{#progress}}
          <tr>
            <td data-th="Date"><span class="text-tab">{{date}}</span></td>
            <td data-th="Difficulty"><input class="rating-css rating" value={{difficulty}} type="number"></input></td>
            <td data-th="Experience"><input class="rating-css rating" value={{experience}} type="number"></input></td>
            <td data-th="Satisfaction"><input class="rating-css rating" value={{satisfaction}} type="number"></input></td>
            <td data-th="Stress"><input class="rating-css rating" value={{stress}} type="number"></input></td>
            <td data-th="Comments"><span class="text-tab">{{comments}}</span></td>
          </tr>
          {{/progress}}
        </table>
      </div>

      <!-- User has no progress -->
      <div class="no-progress" style="display: none;">
        <br>
        <p>Uh oh.<br> There's no progress here. <br>
           Tell {{#patrols}}<b>{{name}}</b> to fill out the progress form. <br>
           Email {{name}} at {{email}}{{/patrols}} now. </p>
      </div>

      <br>
    </div>

    <script>
      $('.rating-css').rating({'size': 'xxs', 'readonly' : true, 'showClear': false, 'showCaption': false});       
    </script>
  </body>

</html>
